<div class="article-inner-first">

	<h2>
		Te damos la bienvenida! 
	</h2>
	<p>
		Haz llegado al sitio de la comunidad mexicana de <b>Arch Linux</b>.
	</p>
	<p>
		<b>Arch Linux</b> es una distribución de Linux® ligera y flexible que busca mantenerse simple.
	</p>
	<p>
		Actualmente contamos con paquetes oficiales optimizados para la arquitectura x86-64. 
		Complementamos nuestros conjuntos de paquetes oficiales con un repositorio de paquetes operado por la comunidad que crece en tamaño y calidad cada día.
	</p>
	<p>
		Nuestra comunidad es sólida, diversa y útil. Nos enorgullecemos de la variedad de habilidades y usos que se derivan de Arch.
	</p>

</div>
<!--
	<div class="rss-right"><a href="{{ .RSSLink }}"><i class="fa fa-rss-square fa-lg"></i></a></div>
-->
